body {
    background-color: beige;
}
.header {
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
}
main{
    margin: 50px  0 ;
    padding-top:50px;
}

.center{
    text-align: center;
}

p{
    padding: 10px 25%;
    text-align: center;
}

.button{
    display: block;
    text-align: center;
    padding:10px;
    margin: 0 auto;
    width:200px;
}